<form class="signIn-menu-field" [formGroup]="form">
  <h2>Sign in</h2>

  <div class="inputs-field">
    <div *ngIf="error != ''" style="width: 100%" class="valid-error">
      {{ error }}
    </div>

    <input type="text" formControlName="email" placeholder="login..." />
    <div
      *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      class="valid-error"
    >
      {{ form.get("email")?.errors | errorValidation }}
    </div>

    <input
      type="password"
      formControlName="password"
      placeholder="password..."
    />

    <div
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      class="valid-error"
    >
      {{ form.get("password")?.errors | errorValidation }}
    </div>

    <div class="note">
      Don`t have an account?
      <a class="link" routerLink="/signin/register">Create</a>
    </div>
    <input
      style="margin: auto; margin-top: 20px"
      type="button"
      value="Sign in"
      (click)="logInClick()"
      class="btn gray-btn"
    />
  </div>
</form>
