
.menu-panel{

	background-color: #ff4040;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 10ex;


	.menu-field{
		margin: 0 1em;

	ul{
		list-style: none;
		margin: 0;
		padding:0;
		height: 100%;
		display: flex;
	
		li{
			
			height: 100%;
			display: inline;
			display: grid;
			font-weight: 600;
		
			padding:0 1.5rem;
		
			a{
				align-self: center;
			    font-size: 1.2rem;
				color: white;
				cursor: pointer;
			}
		
		}
	
		li:hover{
			background-color: #cc0000;
			
		}
	}

	}
}




.logo{

	color: white;
	font-size: 2.2 em;
	margin: 2ex;
	cursor: pointer;

}