<div class="card">
  <div class="title">Do my home work</div>

  <div class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, dicta.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem
    dolorum, sit ducimus eaque modi quos. Possimus deserunt animi, architecto,
    soluta officia quibusdam quisquam nesciunt nostrum beatae iure, facilis
    dolores?
  </div>

  <div class="row">
    <div class="author">Nik Kazantsev</div>
    <input type="button" class="btn completed-btn" value="completed" />
  </div>
</div>
