.btn {
  color: white;
  border: none;
  font-size: 1.1rem;
  padding: 5px 20px;
  border-radius: 25px;
  display: block;
}

.blue-btn {
  background-color: #1266f1;
}

.red-btn {
  background-color: #ff4040;
}

.gray-btn {
  background-color: #474747;
}
