.card {
  border: 1px solid silver;
  margin: auto;
  margin-top: 20px;
  width: 50%;
  padding: 15px;

  @media (max-width: 1200px) {
    width: 60%;
  }

  @media (max-width: 1000px) {
    width: 70%;
  }

  @media (max-width: 750px) {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  .title {
    font-size: 1.4rem;
    font-weight: 700;

    width: 90%;
    word-wrap: break-word;
  }

  .description {
    font-size: 1.2rem;
    margin-top: 15px;
  }

  .author {
    color: silver;
    margin-top: 15px;
    text-overflow: ellipsis;
  }

  .card__pair-controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 15px;

    .card__pair-controls {
      width: 45%;
      align-items: baseline;
      margin-top: 0;
    }
    @media (max-width: 800px) {
      width: 100%;
    }

    @media (max-width: 600px) {
      display: block;
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.low {
  color: green;
  font-weight: 400;
}

.middle {
  color: yellow;
  font-weight: 500;
}

.high {
  color: red;
  font-weight: 600;
}

.delete-field {
  display: flex;
  justify-content: end;
}

.data {
  margin-top: 15px;
  @media (max-width: 400px) {
    margin-top: 10px;
  }
}

.card__btn {
  @media (max-width: 800px) {
    margin-top: 25px;
  }
}

.priority {
  margin-top: 15px;
}

.delete-btn {
  display: block;
  color: black;
  background-color: white;
  border: none;
  text-align: center;
  font-size: 1.5rem;
  width: 5%;
}
